@tailwind base;
@tailwind components;
@tailwind utilities;

.blob-bg {
  background-image: url('/blob.webp');;
  opacity: 0.7;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -10;
}